<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
        <script src="bower_components/angular/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/service.js"></script>
    </head>
    <body>
    <div class="container">
        <div ng-app="mainApp" ng-controller="CRUDController">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <div ng-if = "id!=null" class="row">
                            <h3 class="badge badge-pill badge-light">Id: {{id}}</h3>
                        </div>
                        <br>
                        <div class="row">
                            <input class="form-control" type="text" placeholder="First Name" ng-model="fname">
                        </div>
                        <br>
                        <div class="row">
                            <input class="form-control" type="text" placeholder="Last Name" ng-model="lname">
                        </div>
                        <br>
                        <div class="row">
                            <input class="form-control" type="text" placeholder="Email" ng-model="email">
                        </div>
                        <br>
                        <div class="row">
                            <input class="form-control" type="text" placeholder="Tel No" ng-model="telno">
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-block" value="add_data" ng-click="addData()">Save</button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-block" value="update_data" ng-click="updateData()">Update</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row" ng-if="deleteMsg!=null">
                    <div class="alert alert-danger" role="alert">
                        {{deleteMsg}}
                    </div>
                </div>
                <div class="row" ng-if="updateMsg!=null">
                    <div class="alert alert-primary" role="alert">
                        {{updateMsg}}
                    </div>
                </div>
                <div class="row" ng-if="addMsg!=null">
                    <div class="alert alert-primary" role="alert">
                        {{addMsg}}
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telno</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="bindSelectData(Emp)" ng-repeat="Emp in Emplist track by $index">
                            <th scope="row">{{Emp.id}}</th>
                            <td>{{Emp.fname}}</td>
                            <td>{{Emp.lname}}</td>
                            <td>{{Emp.email}}</td>
                            <td>{{Emp.telno}}</td>
                            <td><button type="button" class="btn btn-danger" value="delete_data" ng-click="deleteData(Emp)">Delete</button></td>
                        </tr>


                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
